<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alerta.css">
    <title>Document</title>
</head>

<body>
    <article>
        <h1>Debes iniciar sesion primero para ingresar</h1>
        <div>
            <button><a href="/iniciar-sesion">Iniciar sesion</a></button>
            <button><a href="/registrar">crear cuenta</a></button>
        </div>
    </article>
</body>

</html>