<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inicio-sesion.css">
    <title>Document</title>
</head>

<body>
    <main>
        <button><a href="/">volver al home</a></button>
        <h1>Iniciar Sesión</h1>
        <form action="http://localhost:3001/inicio-sesion" method="post">
            <section>
                <label for="Correo">Correo</label>
                <input type="text" name="correo" id="Correo">
            </section>

            <section>
                <label for="Password">Password</label>
                <input type="password" name="pass" id="Password">
            </section>

            <input type="submit" value="Iniciar sesión" id="registro">
        </form>
    </main>
</body>

</html>